.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    padding: 15px;
    padding-bottom: 0px;
}

@keyframes scoreHighlight {
    from {background-color: lawngreen;}
    to {background-color: #F8F8F8;}

}

.highlight {
    animation-name: scoreHighlight;
    animation-duration: 0.8s;
    background-color: inherit;
}
body{
    font-family: 'Orbitron', sans-serif;
}

.crystalImg {
}
 #points{
     color: red;
 }

 #highScore {
     color: blue;
 }
 #levelContainer{
 }

#gameCanvas {
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
}

#life{
    border-right: 10px solid red;

}