.container {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 15px;
}

@keyframes scoreHighlight {
    from {background-color: lawngreen;}
    to {background-color: #F8F8F8;}

}

.highlight {
    animation-name: scoreHighlight;
    animation-duration: 0.8s;
    background-color: inherit;
}
